@use "./base.scss";
@use "./variables.scss" as *;

// put your custom CSS here!
header {
  display: flex;
  flex-direction: row;
}

header h1 {
  margin: 0;
  flex: auto;
}

.article-title {
  text-align: center;
}

.page-title a {
    text-decoration: none;
    color:green;
  
    &:hover {
      text-decoration: none;
    }
  }
  
  a {
    // font-weight: 600;
    text-decoration: underline;
    transition: color 0.2s ease;
    color: black;
    text-decoration-color: green;
  
    &:hover {
      color: darkgreen !important;
      text-decoration: underline;
    }
  
    &.internal:not(:has(> img)) {
      text-decoration: underline;
      // background-color: var(--highlight);
      padding: 0 0.1rem;
      border-radius: 5px;
      text-decoration-color: green;
    }
  }

  .footnotes {
    font-size: 0.8rem
  }

  iframe{
    margin-top: 2.25rem;
    margin-bottom: 1rem;
  }

  @media (max-width: $mobileBreakpoint) {
    .page>#quartz-body .sidebar {
      margin-top: 0rem;
    }

    .page>#quartz-body ul {
      padding-inline-start: 20px;
    }

    .page>#quartz-body ol {
      padding-inline-start: 20px;
    }

  }