@use "./base.scss";
@use "./variables.scss" as *;

// put your custom CSS here!

.page-title a {
    text-decoration: none;
    color:rgb(0, 175, 0);
  
    &:hover {
      text-decoration: none;
    }
  }


  a {
    // font-weight: 600;
    text-decoration: underline;
    transition: color 0.2s ease;
    color: green;
    text-decoration-color: green;
  
    &:hover {
      color: darkgreen !important;
      text-decoration: underline;
    }
  
    &.internal:not(:has(> img)) {
      text-decoration: underline;
      // background-color: var(--highlight);
      padding: 0 0.1rem;
      border-radius: 5px;
      text-decoration-color: green;
    }
  }
html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  overflow-x: hidden;
  width: 100vw;
  font-size: 14px; // -> 14px
}

h1 {
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.02rem;
  margin-top: 1.62rem;
  margin-bottom: 1rem;
}

.article-title {
  // color: orange;
}

header{
  margin-bottom: 2rem;
}


.footnotes {
  font-size: 0.8rem
}


